/* ===========================
   Base
   =========================== */

html {
   scroll-behavior: smooth;
}

body {
   background-color: white;
   font-family: $font-primary;
   font-weight: 400;
}

.inner {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

//Width of inner page
.width {
   width: 90%;
}

@media screen and (min-width: 2195px) {
   .width {
      width: 50%;
   }
}

@media screen and (min-width: 1955px) and (max-width: 2195px){
   .width {
      width: 70%;
   }
}

@media screen and (max-width: 727px) {
   .width {
      width: 90%;
   }
}
//Section of section 
.section__width {
   width: 50%;
}
@media screen and (max-width: 727px) {
   .section__width {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
}

//btn
.btn {
   border: none;
   text-decoration: none;
}

.btn--primary {
   width: 170px;
   padding: .875rem 1.3rem;
   border-radius: 3px;
   background-color: hsl(224, 93%, 58%);
   color: white;
   font-weight: 700;
   &:hover {
      cursor: pointer;
      opacity: 0.9;
   }
}

@media screen and (max-width: 727px) {
   .btn--primary {
      width: 100%;
      margin-top: 15px;
   }
}
//Title of sections
.section__title {
   font-size: 39px;
   line-height: 1.4;
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
}

@media screen and (max-width: 727px) {
   .section__title {
      text-align: center;
   }
}

@media screen and (max-width: 575px) {
   .section__title {
      font-size: 30px;
   }

}
.section__p {
   margin-top: 23px;
   line-height: 26px;
   font-size: 17px;
   color: black;
   margin-bottom: 20px;
}

@media screen and (max-width: 727px) {
   .section__p {
      text-align: center;
      font-size: 14px;
   }
}