@charset "UTF-8";

// ----------------------
// == Site settings
p::selection {
    color: #8e0000;
}
// ----------------------

// Fonts
$font-primary: 'Raleway', sans-serif;
$font-btn: 'Lato', sans-serif;

// = Colors
// -----------------------------

// Graphic chart
$color-Body: #141414;
$color-dark: #898888;





// = Grid
// -----------------------------

//Forms
