/* ==|====================
   Layout/Header
   ======================= */

#header {
   display: flex;
   align-items: center;
   width: 80%;
}

.header__container--left {
   width: 50%;
}

.right {
   width: 50%;
   height: 100;
}

.header__container--txt {
   width: 100%;
   width: 94%;
}

.h3 {
   font-size: 39px;
   line-height: 1.4;
}

.header__p {
   margin-top: 23px;
   line-height: 26px;
   font-size: 17px;
}

.input-email {
   width: 400px;
   padding: 11px;
   border: 1px solid black;
   margin-right: 20px;
   color: red;
   border-radius: 2px;

   &::placeholder {
      color: gray;
   }
}

.btn-submit {
   width: 200px;
   background-color: blue;
   border: none;
   border-radius: 3px;
   color: white;
   font-weight: bold;
}

.header__form {
   margin-top: 20px;
   display: flex;
}


@media screen and (max-width: 1020px) {
   #header {
      width: 90%;
   }

   .h3 {
      font-size: 33px;
   }

   .header__p {
      font-size: 13px;
   }
}

@media screen and (max-width: 727px) {
   #header {
      width: 80%;
      flex-direction: column-reverse;
   }

   .header__container--left {
      width: 100%;
      margin-top: 38px;
   }

   .header__container--right {
      width: 100%;
   }

   .header__container--txt {
      width: 100%;
   }

   .header__p,
   .h3 {
      text-align: center;
   }

   .h3 {
      font-size: 26px;
   }

   .header__p {
      line-height: 21px;
   }

   .header__form {
      flex-direction: column;
   }

   .input-email,
   .input-email {
      width: 100%;
   }

   .btn-submit {
      height: 35px;
      margin-top: 15px;
   }
}