/* ==|====================
   Layout/Header
   ======================= */

#header {
    margin-top: 60px;
    display: flex;
    align-items: center;
    width: 80%;
    background-color: blue;
}

.header__container--left{
   width: 50%;
   background-color: rebeccapurple;
}

.right {
   background-color: red;
   width: 50%;
   height: 100;
}

.header__container--txt {
   width: 100%;
   background-color: violet;
   width: 94%;
}

.h3 {
   font-size: 39px;
   line-height: 1.4;
}

.header__p {
   margin-top: 23px;
   line-height: 26px;
   font-size: 17px;
}

.input-email {
   width: 400px;
   padding: 11px;
   border: 1px solid black;
   margin-right: 20px;
   color: red;
   border-radius: 2px;
   &::placeholder {
      color: red;
   }
}

button{
   width: 200px;
   background-color: blue;
   border: none;
   border-radius: 3px;
   color: white;
   font-weight: bold;
}

.header__form {
   margin-top: 20px;
   display: flex;
}

